<%- include ./partials/head.ejs %>
<a href="/">Back to home</a>
<h1><%- pageTitle%></h1>


<% data.forEach(function({title, id}) { %>
	<a href="/post/<%- id %>"><%- title %></a>
<% }) %>

<%- include ./partials/footer.ejs %>