<%- include('partials/head') %>

<h1><%= title %></h1>

<ul class="movie-list">
    <% movieData.results.forEach(result => { %>
        <li>
            <a href="/movies/<%= result.id %>" class="movie-poster body-petite">
                <%= result.original_title %>
                <img src="https://image.tmdb.org/t/p/w500/<%= result.poster_path %>" alt="Movie poster of <%= result.original_title %>." class="movie-poster__image">
            </a>
        </li>
    <% }) %>
</ul>

<%- include('partials/footer') %>
