<%- include('partials/head') %>

<div class="container">
    <h1><%= title %></h1>
    <h2 class="body"><%= movieData.tagline %></h2>
    <p class="body-petite"><%= movieData.overview %></p>

    <dl>
        <dt>Score</dt>
        <dd><%= movieData.vote_average %></dd>
    </dl>
</div>

<%
  if (movieData.videos.length) {
  const video = movieData.videos.find(video => video.type === 'Trailer') || movieData.videos[0]
%>
    <h3 class="h1"><%= video.name %></h3>
    <div class="video">
        <iframe width="1920" height="1080" src="http://www.youtube-nocookie.com/embed/<%= video.key %>?modestbranding=1&autoplay=1&controls=0&fs=0&loop=1&rel=0&showinfo=0&disablekb=1&playlist=IsBInsOj8TY" frameborder="0"></iframe>
    </div>
<% } %>

<%- include('partials/footer') %>
