<h1>Results for <%= query %></h1>

<% if (!results) { %>
    <p>No results</p>
<% } else { %>
    <ul class="movie-list" data-search-results>
        <% results.forEach(result => { %>
            <li>
                <a href="/movies/<%= result.id %>" class="movie-poster body-petite">
                    <%= result.original_title %>
                    <img src="https://image.tmdb.org/t/p/w500/<%= result.poster_path %>" alt="Movie poster of <%= result.original_title %>." class="movie-poster__image">
                </a>
            </li>
        <% }) %>
    </ul>
<% } %>
